/*
 * Utilities
 */


/* gaps */
$positions: (null, top, right, bottom, left);

@each $position in $positions {
    $i: index($positions, $position);

    .margin-#{$position} { 
        @include gap(margin, $position);
    }

    .margin-#{$position}-half { 
        @include gap(margin, $position, #{$baseline / 2});
    }

    .padding-#{$position} { 
        @include gap(padding, $position);
    }

    .padding-#{$position}-half { 
        @include gap(padding, $position, #{$baseline / 2});
    }
}

/* flex positions */

.flex {
    display: flex;

    &.flex--center {
        align-items: center;
        justify-content: center;
    }

    &.flex--space-between {
        justify-content: space-between;
    }
}
