/*
 * Variables
 */

$color-dark: #303240;
$color-clean: #fff;
$color-light: #f3f3f3;

$font-default: 'Source Sans Pro', sans-serif;

$baseline: 1.2rem;
$radius: 2px;

/*
 * Transitions
 */
$transition-property-default: all;
$transition-duration-default: 0.2s;
$transition-timing-default  : linear;

/*
 * Title
 */
$title-font-size: 1.2rem;
$title-font-weight: 700;

/*
 * Subtitle
 */
$subtitle-font-size: 1rem;
$subtitle-font-weight: 400;