@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');
@import '~clay/src/scss/base.scss';
@import "variables";

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: $font-default;
}

#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main {
        flex: 1 0 auto;
    }
}


/*
 * Custom Rows
 */
@media screen and (min-width: 768px) {
    .row.row__no-margin {
        $padding: 15px;

        > div {
            padding: $padding / 3;

            &:first-child {
                padding-left: $padding;
                padding-right: $padding / 3;
            }

            &:last-child {
                padding-right: $padding;
                padding-left: $padding / 3;
            }
        }
    }
}

/*
 * Table Dashboard
 * Customize table clay
 */
.table-dashboard {

}

// * {
//     box-sizing: border-box;
// }

// body {
//     margin: 0;
// }

// .header {
//     background: $color-dark;
//     padding: 1.5em;

//     h1 {
//       color: $color-clean;
//       font-size: 1.4em;
//     }
// }

// .flex {
//   display: flex;
// }

// .box {
//     background: $color-light;
//     padding: 1.5em;
//     display: flex;

//     h2 {
//         color: $color-dark;
//         display: inline-block;
//         font-size: 4.5em;

//         span {
//             font-weight: 200;
//         }
//     }

//     h3 {
//         font-size: 1.50rem;
//         font-weight: 600;
//     }

//     .sessions-container {
//         margin-right: 4rem;
//     }
// }

// .analytics-row {
//     display: flex;
// }
