@import "variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background: $color-dark;
    color: $color-clean;
    font-size: 1.4em;
    padding: 1.5em;
}

.box {
    background: $color-light;
    padding: 1.5em;

    h2 {
        color: $color-dark;
        font-size: 2.5em;
    }
}
